body {
    background-image: linear-gradient(rgba(255, 0, 0, 0.5),rgba(255, 0, 0, 0.2)),url(img/UNOwallpaper.jpg);
    background-size: 50% auto;
    background-attachment: fixed;
}

.background1 {
    background-image: linear-gradient(rgba(255, 0, 0, 0.5),rgba(255, 0, 0, 0.2)),url(img/UNOwallpaper.jpg);  
    height: 100vh;
    background-size: 100% auto;
}

.background2 {
    background-image: linear-gradient(rgba(255, 0, 0, 0.5),rgba(255, 0, 0, 0.2)),url(img/UNOwallpaper.jpg);  
    height: 100%;
    background-size: 100% auto;
    z-index: 1;
}
  
.About img {
    max-width: 100%;
    height: auto;
}

.instruction {
    background-color: #f5f5f5;
    border: 1px solid #ddd;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.3);
    height: 100%;
    border-radius: 10px;
    padding: 20px;
    margin: 0 auto;
    margin-top: 100px;
    max-width: 768px;
    box-sizing: border-box;
} 

.setup-list {
    display: flex;
    align-items: center;
    margin-bottom: 250px;
}
  
.setup-list img {
    margin-right: 200px; 
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.3);
}
  
.setup-list ul {
    margin: 0;
    padding: 0;
}
 
.setup-list li {
    font-family: 'Secular One', sans-serif;
    font-size: 1rem;
    margin-bottom: 20px;
}

@media only screen and (max-width: 600px) {
    
}
  


